/***************************************************/
 
.inline{
	display: inline;
}

.block{
	display: block;
}

.clear{
	clear: both;
}

.underline {
	text-decoration: underline;
}



/**/
	
#linzess_tap.toc .slides {
	height: 275px;
	margin-bottom: 8px;
	position: relative;
}

#linzess_tap.toc .slide a {
	display: none;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
}

#linzess_tap.toc .slide.first a {
	display: block;
}

#linzess_tap.toc .slide .btn {
	background-image: url('./img/promo-tabs-sprite.png');
	display: block;
	float: left;
	cursor: pointer;
	height: 70px;
	margin-top: 205px;
	text-align: center;
}

#linzess_tap.toc .slide .btn h2 {
	color: #00a5d9;
	font-size: 105%;
	margin: 0;
	padding: 18px 0 0;
}

#linzess_tap.toc .slide .btn.on h2 {
	color: #fff;
}

#linzess_tap.toc .slide #btn_1 {
	background-position: 0 0;
	width: 183px;
	padding: 0;
}

#linzess_tap.toc .slide #btn_1.on {
	background-position: 0 100%;
}

#linzess_tap.toc .slide #btn_1 h2 {
	padding-left: 7px;
}

#linzess_tap.toc .slide #btn_2 {
	background-position: -183px 0;
	width: 155px;
}

#linzess_tap.toc .slide #btn_2.on {
	background-position: -183px 100%;
}

#linzess_tap.toc .slide #btn_3 {
	background-position: 100% 0;
	width: 155px;
}

#linzess_tap.toc .slide #btn_3.on {
	background-position: 100% 100%;
}

#linzess_tap.toc .slide #btn_3 h2 {
	padding-right: 8px;
}

#linzess_tap.toc .sub-promo {
	background: url('./img/sub-promo-bg.gif') 0 0 repeat-x;
	padding: 8px 7px;
}

#linzess_tap.toc .sub-promo div {
	background: 50% 0 no-repeat;
	float: left;
	height: 220px;
	position: relative;
	width: 239px;
}

#linzess_tap.toc .sub-promo .left {
	background-image: url('./img/sub-promo-left-bg.gif');
	float: left;
	margin-right: 2px;
}

#linzess_tap.toc .sub-promo .right {
	background-image: url('./img/sub-promo-right-bg.gif');
	float: left;
}

#linzess_tap.toc .sub-promo h4 {
	color: #00a5d9;
	font-size: 120%;
	margin: 10px;
	padding: 0;
}

#linzess_tap.toc .sub-promo p {
	font-size: 90%;
	margin: 10px 95px 10px 10px;
	padding: 0;
}

#linzess_tap.toc .sub-promo a {
	bottom: 0;
	left: 0;
	margin: 10px;
	position: absolute;
}

/**********************************************/

/* Main Content [ center column modules ] */

#middleContent_fmt{
	/*margin-left: 20px;*/
}

/******************************************/

/* Sidebar navigation [ left column module ]  */

.nav{
	
}

#linzess_tap .nav-sidebar {
 	 margin-left: -20px;
	 margin-bottom: 0px;
	 margin-top: 0px;
	 padding: 0 px;
}

#linzess_tap .nav-sidebar li {
 	margin-left: -3px;
 	padding:0px;
}

#linzess_tap .nav-sidebar > li > a {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: -6px;
}

#navColumn_ctr{
	line-height: 22px;
	color: #0085b7;
}

/**********************************************/


/* Color Palette */

.c-gray{
	color: #666666;
}

.c-orange{
	color : #ff6633;
}

.c-blue{
	color: #0085b7;
}

.c-blue-2{
	color: #00a5d9;
}

.c-blue-3{
	color: #3789b9;
}
/**********************************************/

/* Margin Left */

.margin-5 {
	margin: 0 0 0 5px;
}

.margin-10 {
	margin: 0 0 0 10px;
}

.margin-15 {
	margin: 0 0 0 15px;
}

.margin-20 {
	margin: 0 0 0 20px;
}

.margin-25 {
	margin: 0 0 0 25px;
}

.margin-30 {
	margin: 0 0 0 30px;
}

.margin-50 {
	margin: 0 0 0 50px;
}

/**********************************************/

/* Article CSS */

#linzess_tap .linz-btn {
	background: url('./img/button-bg.png') 50% 50% no-repeat;
	color: #fff;
	display: block;
	font-size: 90%;
	font-weight: bold;
	height: 27px;
	line-height: 25px; 
	padding-right: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 104px;
}


#linzess_tap.article {
	color: #000;
	margin: 0 0;
}
#linzess_tap .article h3 {
	border-bottom: 1px solid #c0c0c0;
	color: #332a86;
	font-size: 150%;
	margin: 0 0 20px;
	padding: 5px 0;
}

#linzess_tap .article h4 {
	color: #00a5d9;
	font-size: 90%;
	margin: 0 0;
	padding: 0 0 16px 0;
}

#linzess_tap .article p {
	font-size: 12px;
	line-height: 15px;
	margin: 0 5px 15px 0;
	padding: 0;
}

#linzess_tap .article a{
	color: #3789b9;
	text-decoration: none;
}

#linzess_tap .article .header-bg {
	background: url('./img/header-bg.png') 50% 50% no-repeat;
	display: block;
	float: right;
	height: 71px;
	margin: -20px 0 25px 40px;
	width: 230px;
}

#linzess_tap .article .seperator {
	border-top: 2px dotted #707070;
	padding-top: 20px;
}


#linzess_tap .article .figure_2-1 {
	background: url('./img/figure_2-1.png') 50% 50% no-repeat;
	height: 216px;
	margin-bottom: 20px;
	width: 493px;
}

#linzess_tap .article ul, .article ol {
	margin: 0 4px 16px 30px;
	padding: 0;
}

#linzess_tap .article ul li, .article ol li{
	font-size: 12px;
	margin-bottom: 5px;
}

#linzess_tap .article ol {
	color: #00a5d9;
	margin-left: 26px;
}

#linzess_tap .article .print-promo {
	background: url('./img/print-promo-bg.gif') 50% 50% no-repeat;
	height: 170px;
	margin: 35px 0;
	padding: 1px 0;
	width: 464px;
}

#linzess_tap .article .print-promo a {
	display: block;
	margin: 77px 0 0 235px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

#linzess_tap .article .register {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

/*********************************************/


#isi h4 {
	color: #3e368d;
	font-size: 105%;
	margin: 0;
	padding: 0;
}

#isi h4.underline {
	text-decoration: underline;
}

#isi p {
	font-size: 90%;
	margin: 0 0 18px;
	padding: 0;
}

#isi ul {
	list-style-type: none;
	margin: 0 0 18px;
	padding: 0;
}

#isi ul li {
	background: url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/3x3_black_bullet.gif') 0 6px no-repeat;
	font-size: 90%;
	margin-bottom: 5px;
	padding-left: 8px;
}

#copyright p {
	font-size: 90%;
	margin: 0 0 32px;
	padding: 0;
}


#isi-scroll-rr {
	border: 1px solid #ccc;
	height: 252px;
	margin-bottom: 8px;
	overflow: auto;
	padding: 9px;
	width: 296px;
}
#isi-scroll-rr h4 {
	color: #000;
	font-size: 90%;
	margin: 0;
	padding: 0;
}
#isi-scroll-rr h4.underline {
	text-decoration: underline;
}
#isi-scroll-rr p {
	font-size: 90%;
	margin: 0 0 8px;
	padding: 0;
}
#isi-scroll-rr ul {
	list-style-type: none;
	margin: 0 0 8px;
	padding: 0;
}
#isi-scroll-rr ul li {/*3x3_black_bullet.gif*/
	background: url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/3x3_black_bullet.gif') 0 6px no-repeat;
	font-size: 90%;
	margin-bottom: 5px;
	padding-left: 8px;
}

/* header title bar ***/

.titlebar .tb_main {
	margin: 0 ;
	padding: 12px 0 4px 0;
}
.titlebar h1 {
	font-weight: normal;
	margin: 0;
}
.titlebar h1 a {
	color: #0094ca;
}
#navColumn_area {
	margin-top: -177px;
}
.standardSubnav_rdr_fmt {

}
#standardSubnavSP_rdr #standardSubnav_fmt li {/*3x3_blue_069_bullet*/
    background-image: url('http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/3x3_blue_069_bullet.gif');
	font-size: 90%;
}
#standardSubnavSP_rdr #standardSubnav_fmt li.standardSubnav_subhead_fmt {
	background: none;
	color: #ff6633;
	font-weight: bold;
	padding-left: 1px;
}
#standardSubnavSP_rdr #standardSubnav_fmt li.here {
	font-weight: bold;
}
.articlesPulldown_fmt {
	margin-bottom: 20px;
	margin-top: 20px;
}
.info_rdr {
	color: #c4c4c4;
	font-size: 80%;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 2px;
	margin-left: 3px;
}
.info_rdr .isi_rr_divider {
	font-weight: normal;
	padding: 0 5px;
}
/*Raill_links*/

#rail_links{
	margin: 0;
	padding: 0;
}

#rail_links a {
	display: inline;
	text-decoration: none;
	font-size: 12px;
}
#rail_links span{
	color: #ccc;
	font-size: 12px;
}
/*************************************/
