/*		Peripheral Modules		*/

.namenda-indication {
	border: 1px solid #b4c8c6;
	padding: 10px 12px;
	margin: 10px 0;
	background: #e7f0ec;
	overflow: auto;
}
.namenda-article .namenda-indication {
	margin: 15px 0;
}
.namenda-indication.hdr p {
	font-size: 12px;
}
.namenda-indication p,
.namenda-article .namenda-indication p,
.namenda-article .namenda-indication ul {
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	color: #00554e;
}
.namenda-article .namenda-indication.achei {
	padding-right: 45px;
}
.namenda-article .namenda-indication.meds p {
	font-size: 12px;
	margin-bottom: 10px;
}

.namenda-rr {
	width: 300px;
	margin: 0 auto;
}
#iri {
	padding: 0 5px;
}
#iri-scroll {
	overflow: auto;
	margin: 0 0 10px;
	height: 272px;
	border: 1px solid #ccc;
	padding: 10px;
}
#iri h2 {
	font-size: 18px;
	color: #016c64;
	margin: 20px 0 5px;
	text-transform: uppercase;
}
#iri-scroll h2 {
	font-size: 12px;
	margin: 0 0 5px;
	text-transform: uppercase;
}
#iri h3,
#iri-scroll h3 {
	font-size: 12px;
	margin: 0;
}
#iri p,
#iri-scroll p {
	font-size: 12px;
	margin: 0 0 15px;
	line-height: 16px;
}
#iri ul,
#iri-scroll ul {
	list-style: none;
	margin: -15px 0 15px;
	padding: 0;
}
#iri ul li,
#iri-scroll ul li {
	background: url("../../../consumer_assets/site_images/miscellaneous/3x3_black_bullet.gif") no-repeat 0 7px;
	padding: 0 0 0 8px;
	margin: 0 0 0 20px;
	font-size: 12px;
	line-height: 16px;
}
#iri a,
#iri-scroll a {
	font-weight: bold;
}
#iri .copyright {
	margin: 30px 0 15px;
}

.namenda-rr .iri-links {
	font-size: 11px;
	margin: 0 auto 5px;
}
.namenda-rr .iri-links a {
	font-weight: bold;
}

.namenda-rr .lnch-dr {
	margin: 10px 0;
}
.namenda-rr .lnch-dr a {
	display: block;
	height: 65px;
}

.namenda-rr .lnch-tool {
	background: url("../../../consumer_assets/site_images/sponsored_programs/forest/namenda/taking-on-moderate-severe-alzheimers/lnch-tool.png");
	height: 166px;
	margin: 0 0 10px;
	position: relative;
	padding: 85px 10px 0 25px;
}
.namenda-rr .lnch-tool p {
	font-size: 12px;
	color: #fff;
	margin: 0 0 15px;
}
.namenda-rr .lnch-tool a {
	position: absolute;
	top: 184px;
	left: 25px;
	width: 150px;
	text-indent: -9999px;
	height: 30px;
}

/*		TOC Modules		*/
.namenda-pkg {
	width: 492px;
	margin: 0 auto;
}
.namenda-pkg .slides {
	position: relative;
	height: 208px;
}
.namenda-pkg .slide {
	position: absolute;
	height: 208px;
	width: 492px;
}
.namenda-pkg .slide a {
	display: block;
	width: 150px;
	height: 30px;
	position: absolute;
	left: 24px;
	text-indent: -9999px;
	direction: ltr;
}
.namenda-pkg .slide.one {
	background: url("../../../consumer_assets/site_images/sponsored_programs/forest/namenda/taking-on-moderate-severe-alzheimers/pkg_1.jpg");
}
.namenda-pkg .slide.one a {
	top: 135px;
}
.namenda-pkg .slide.two {
	background: url("../../../consumer_assets/site_images/sponsored_programs/forest/namenda/taking-on-moderate-severe-alzheimers/pkg_2.jpg");
}
.namenda-pkg .slide.two a {
	top: 132px;
}
.namenda-pkg .slide.three {
	background: url("../../../consumer_assets/site_images/sponsored_programs/forest/namenda/taking-on-moderate-severe-alzheimers/pkg_3.jpg");
}
.namenda-pkg .slide.three a {
	top: 165px;
}
.namenda-pkg .slides p {
	direction: ltr;
	text-indent: -9999px;
}
.namenda-pkg .controls {
	list-style: none;
	margin: 0;
	padding: 2px 0 2px 2px;
	overflow: auto;
	border: 1px solid #999;
}
.namenda-pkg .controls li {
	background: #d3d2d2; /* Old browsers */
	background: -moz-linear-gradient(top, #d3d2d2 0%, #acacac 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d2d2), color-stop(100%,#acacac)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d3d2d2 0%,#acacac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d3d2d2 0%,#acacac 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d3d2d2 0%,#acacac 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d3d2d2 0%,#acacac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d2d2', endColorstr='#acacac',GradientType=0 ); /* IE6-9 */
	border: 1px solid #999;
	float: left;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 2px 0 0;
	padding: 0;
	text-align: center;
	width: 159px;
}
.namenda-pkg .controls .middle {
	width: 158px;
}
.namenda-pkg .controls .on {
	background: #00554e;
	border-color: #00554e;
		  filter: none;
}
.namenda-pkg .controls li a {
	color: #00554e;
	display: block;
	height: 38px;
	padding: 10px 0 0;
	text-decoration: none;
}
.namenda-pkg .controls .on a {
	color: #fff;
}


/*		Article Modules		*/
.namenda-article {
	padding: 0 1px;
}
.namenda-article .right-img {
	float: right;
	margin: 5px 0 45px 15px;
}
.namenda-article h2 {
	font-size: 18px;
	line-height: 22px;
	color: #00554e;
	margin: 0 0 15px;
}
.namenda-article h3 {
	font-size: 14px;
	line-height: 18px;
	color: #00554e;
	margin: 0;
}
.namenda-article h3.sub {
	width: 250px;
	margin-bottom: 10px;
}
.namenda-article h3.treatment {
	margin-top: 30px;
}
.namenda-article p {
	font-size: 12px;
	line-height: 16px;
	margin: 0 0 18px;
}
.namenda-article p.intro {
	width: 260px;
}
.namenda-article p.illustr {
	margin: -20px 0 -10px 0;
}
.namenda-article a {
	font-weight: bold;
}
.namenda-article ul {
	list-style: none;
	margin: 0 0 18px 10px;
	padding: 0;
}
.namenda-article ul li {
	background: url("../../../consumer_assets/site_images/sponsored_programs/forest/namenda/taking-on-moderate-severe-alzheimers/bullet.png") no-repeat 0 6px;
	margin: 0;
	padding: 0 0 0 10px;
	font-size: 12px;
	line-height: 16px;
}
.namenda-article ul.lil-margin li {
	margin: 0 0 5px;
}
.namenda-article ul.big-margin li {
	margin: 0 0 20px;
}
.namenda-article table {
	border: 0;
	border-top: 1px solid #bbb;
	margin: 20px 0;
}
.namenda-article .graph tr {
	border-bottom: 1px solid #bbb;
}
.namenda-article .graph th {
	font-size: 12px;
	vertical-align: top;
	font-weight: normal;
	width: 135px;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 10px 15px 10px 0;
}
.namenda-article .graph td {
	font-size: 12px;
	vertical-align: top;
	border-bottom: 1px solid #bbb;
	padding: 10px 5px 10px 15px;
}
.namenda-article .graph h4 {
	font-size: 14px;
	line-height: 18px;
	color: #00554e;
	margin: 0 0 5px;
}
.namenda-article .graph ul {
	margin: 0;
}
.namenda-article .graph ul li {
	margin: 0 0 5px;
}



.namenda-article .graph2 {
	border-bottom: 1px solid #bbb;
}
.namenda-article .graph2 thead th,
.namenda-article .graph2 .subhead th {
	font-size: 14px;
	line-height: 16px;
	color: #00554e;
	border: none;
	font-weight: bold;
}
.namenda-article .graph2 thead th+th,
.namenda-article .graph2 .subhead th+th {
	text-align: center;
	border-left: 1px solid #bbb;
}
.namenda-article .graph2 .subhead {
	background: #e7e7e7;
}
.namenda-article .graph2 th {
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	border-top: 1px solid #bbb;
	padding: 5px 10px;
}
.namenda-article .graph2 th:first-child {
	padding-left: 2px;
}
.namenda-article .graph2 td {
	font-size: 12px;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	text-align: center;
	padding: 5px 10px;
}
.namenda-article .graph2 .subhead+tr td,
.namenda-article .graph2 .subhead+tr th {
	border-top: none;
}



.namenda-article .nowrap {
	white-space: nowrap;
}

.namenda-article .callout-tip {
	padding: 12px 15px;
	background: #e7e7e7;
	border-radius: 5px;
}
.namenda-article .callout-tip p {
	margin: 0;
	color: #00554e;
}
.namenda-article .ref {
	margin: 20px 0;
	font-size: 11px;
}
.namenda-article .back-to-top {
	text-align: right;
	margin: 20px 0;
}
.namenda-article ul#top {
	margin: 0 0 18px 0;
}
.namenda-article ul#top li {
	margin: 0 0 5px;
}


/* Page-specific styles */
.namenda-article.p2-1 h3.sub1 {
	width: 240px;
	margin-bottom: 10px;
}
.namenda-article.p2-1 h3.sub2 {
	margin-top: 35px;
}
.namenda-article.p2-2 h3 {
	color: #000;
	font-size: 12px;
}
.namenda-article.p2-2 .right-img {
	clear: both;
	margin-bottom: 25px;
}
.namenda-article.p2-2 .namenda-indication.meds {
	margin-bottom: 30px;
}
.namenda-article.p2-3 .right-img {
	margin-top: -35px;
	margin-bottom: 5px;
}
.namenda-article.p2-3 h3.sub1 {
	margin-bottom: 15px;
}
.namenda-article.p2-3 .callout-tip p {
	padding-right: 25px;
}
.namenda-article.p3-1 .right-img {
	margin-left: 25px;
	margin-bottom: 30px;
}
.namenda-article.p3-1 h3.sub1 {
	width: 220px;
		  margin-bottom: 20px;
}
.namenda-article.p3-1 ul#top {
	clear: both;
		  margin-top: 0;
}
.namenda-article.p3-1 ul {
		  margin-top: -12px;
}
.namenda-article.p3-2 .graph2 {
	margin-top: -10px;
}
.namenda-article.p3-2 .ref {
	font-size: 12px;
	margin-top: -15px;
}
.namenda-article.p3-3 .sub2 {
	margin-top: 15px;
}
.namenda-article.p3-3 .ref {
	font-size: 0.75em;
	margin-top: 0;
}
.namenda-article.p4-1 h2 {
	width: 300px;
}
.namenda-article.p4-1 .right-img {
	margin-left: 30px;
	margin-top: -60px;
}