#standardSubnavSP_rdr .standardSubnav_header_fmt a:link, #standardSubnavSP_rdr .standardSubnav_header_fmt a:visited, #standardSubnavSP_rdr .standardSubnav_header_fmt a:hover, #standardSubnavSP_rdr .standardSubnav_header_fmt a:active {
	color: #666;
}
#standardSubnavSP_rdr #standardSubnav_fmt .standardSubnav_subhead_fmt {
	color: #ff6633;
	background: none;
	padding-left: 0;
	font-weight: bold;
}
#standardSubnavSP_rdr #standardSubnav_fmt li {
	font-size: 12px;
	margin: 3px 0 3px 2px;
}

.info_rdr {
color: #c4c4c4;
font-size: 80%;
font-weight: bold;
line-height: 1em;
margin-bottom: 2px;
margin-left: 5px;
}


#iri-scroll {
margin: 0 0 10px 5px;
width: 278px;
}

.lnch-dr {
margin: 0px 0px 5px 5px;
}

#standardSubnavSP_rdr {
position: relative;
top: -195px;
}

#leftAd_rdr {
position: relative;
top: -195px;
}

#header .tb_main h1 {
font-size: 26px !important;
font-weight: normal !important;
}

#header .tb_main h1 a {
color: #00574e !important;
}

.ed_disclaimer {
margin: 0 0 4px 0px;
}




.namenda-article sup {
	position: relative;
	top: -3px;
}

.IEDocMode_7 .namenda-article sup,
.IEDocMode_8 .namenda-article sup,
.IEDocMode_9 .namenda-article sup {
	position: relative;
	top: 0px;
	 line-height: 0px;
}
.tb_main h1  {
color: #00574e !important;
}





